.theme-switcher {
  display: flex;
  position: relative;
  width: 120px;
  background-color: #ddd;
  border-radius: 50px;
  padding: 3px;
  margin: 1rem auto;
}

.theme-switcher input {
  display: none;
}

.theme-switcher label {
  flex: 1;
  text-align: center;
  cursor: pointer;
  z-index: 2;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 5px 0;
}

.slider {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #0078d4;
  border-radius: 50px;
  transition: transform 0.25s;
  top: 0;
  left: 0;
}

#light-theme:checked ~ .slider {
  transform: translateX(0%);
}

#dark-theme:checked ~ .slider {
  transform: translateX(100%);
}
